.wrapper-checkout-information {
    display: flex;
    width: 100%;
}

.wrapper-contact-user-data {
    display: block;
    width: 50%;
    text-align: left;
    padding: 10px;
}

.wrapper-delivery-address {
    display: block;
    width: 50%;
    padding: 10px;
}

.wrapper-centerer {
    display: flex;
    justify-content: center;
}

.text-field-custom {
    width: 250px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .paper-container {
        width: 70%;
        margin: 0px auto;
    }

}

/* smartphone */
@media screen and (max-width: 767px) {

    .wrapper-checkout-information {
        display: block;
        width: 100%;
    }

    .wrapper-contact-user-data {
        width: 100%;
    }
    
    .wrapper-delivery-address {
        width: 100%;
    }

}