
/*
* {
  outline: 1px solid red;
}
*/
/*
.unstyle {
  all: unset;
}
*/
.main-container {
  flex: 1 0 auto;
  width: 100%;
  margin: 0px;
}

.page_container {
  height: 100%;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.5em;
  color: #525252;
  padding-left: 1rem;
}

